<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <title>Items Demo</title>
</head>
<body>
<div class="container">
    <h2 class="my-5">Delete item?</h2>
    <form class="form-horizontal" th:object="${itemForm}" th:action="@{/items/delete}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table class="table mb-5">
            <tr>
                <th>id</th>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <th>name</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>active</th>
                <td th:text="*{active}"></td>
            </tr>
            <tr>
                <th>created</th>
                <td th:text="*{created}"></td>
            </tr>
            <tr>
                <th>updated</th>
                <td th:text="*{updated}"></td>
            </tr>
        </table>
        <div class="mb-3">
            <button class="btn btn-danger" tabindex="1" type="submit" name="action" value="delete">Confirm</button>
            <button class="btn btn-default" tabindex="0" type="submit" name="action" value="cancel" autofocus>Cancel
            </button>
        </div>

    </form>
</div>
</body>
</html>